*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: black;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 10px 10px 10px;
    grid-template-rows: 10px 10px 10px;
    grid-gap: 5px;

    justify-content: space-evenly;
}

.container > div {
    background-color: #7159c1;
}