*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: black;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;

    justify-content: space-evenly;

   
    
}

.container > div {
    background-color: #7159c1;
    width: 50%;
    height: 50%;

    justify-self: end;
    align-self: end;
}

